/**********************************************************************************************

    1-Before Navigation
    2-Navigation Menu






***************************************************************************************************/



/**********************************************************************************************

    1-Before Navigation

***************************************************************************************************/





/**********************************************************************************************

    1-Navigation Menu

***************************************************************************************************/
.example3 .navbar-brand {
    height: 80px;
}

.example3 .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}